@import './variables';

.prod-container {
    padding: 20px;
    .section-title {
        font-size: 32px;
        margin-bottom: 4px;
        font-weight: 600;
    }
    .product-list-item {
        position: relative;
        .close {
            height: 40px;
            position: absolute;
            right: 0px;
            top: 0px;
            border-radius: 50%;
            display: flex;
            box-shadow: 0 0 5px #333;
            width: 40px;
            z-index: 3;
            background: #fff;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 90%;
            margin: 5px 5% 0;
            max-height: 200px;
        }
        
        .item-details {
            padding: 10px;
            font-size: 13px;
            .product-title {
                text-transform: capitalize;
                font-weight: 400;
                padding: 8px 0;
                color:$secondary-font-color;
            }
            .product-price {
                font-size: 12px;
                font-weight: 600;
            }
            .product-discount-price {
                text-decoration: line-through;
                font-size: 10px;
                color:$secondary-font-color;
                display: flex;
                align-items: center;
                margin: 0 6px;
            }
            .product-discount {
                color: $discount-font-color;
            }
            .select-product {
                width: 100%;
                height: 32px;
            }
        }

        .no-pic {
            height: 200px;
            margin: 8px;
            background: $no-image-bg;
            border-radius: 6px;
            +div > .product-title {
                font-weight: 600;
            }
        }
    }

    input {
        margin-right: 6px;
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
            +label {
                cursor: not-allowed;
                color: $tertiary-font-color;
            }
        }
        +label {
            cursor: pointer;
        }
    }
}
    

table {
    width: 90%;
    margin: 20px auto;
    text-align: left;
    border-collapse: collapse;
    border: $border-light;
    th, td {
        width: 33%;
        padding: 16px;
        border-right: $border-light;
    }

    .table-header{
        background: $container-bg;
        text-transform: uppercase;
    }
}

