*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cera, Helvetica, sans-serif;
}

*:focus{
  outline: none;
}

.App {
  /* text-align: center; */
}

.w-30p {
  width: 30%;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}